@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party!!!</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div class="text-center m-2">
                <h3>Were going to have a party!!!</h3>
                <h4>Hello Party!!!</h4>
                <a class="btn btn-primary" asp-action="RsvpForm">RSVP Form</a>
            </div>
        </div>
    </body>

</html>


