@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party!!!</title>
    </head>
    <body>
        <div>
            <div>
                Were going to have a party!!!<br />
                Hello Party!!!
            </div>
            <a asp-action="RsvpForm">RSVP Form</a>
        </div>
    </body>

</html>


